<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | CloudSentinel Insight AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="auth-body">

<div class="auth-wrapper">
    <div class="auth-card">
        <div class="auth-logo">CS</div>

        <h1>Welcome Back</h1>
        <p>Login to analyze your business performance.</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="auth-alert">{{ messages[0] }}</div>
            {% endif %}
        {% endwith %}

        <form method="POST">
            <label>Email Address</label>
            <input type="email" name="email" required>

            <label>Password</label>
            <input type="password" name="password" required>

            <button type="submit" class="primary-btn full-btn">Login</button>
        </form>

        <small>
            Don’t have an account?
            <a href="{{ url_for('auth.register') }}">Create account</a>
        </small>
    </div>
</div>

</body>
</html>